# ==========================
# Maven
# ==========================
target/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment variables
# ==========================
.env
.env.*

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db